/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.h3style {
  font-family: 'NewsCycleRegular', Helvertica, Sans-Serif;
}
@font-face {
  font-family: 'NewsCycleRegular';
  src: url('../font/NewsCycle-Regular-webfont.eot');
  src: url('../font/NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/NewsCycle-Regular-webfont.woff') format('woff'), url('../font/NewsCycle-Regular-webfont.ttf') format('truetype'), url('../font/NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0% 0% 0% 0%;
}
.box-shadow {
  -moz-box-shadow: 0px 17px 35px #888;
  -webkit-box-shadow: 0px 17px 35px #888;
  box-shadow: 0px 17px 35px #888;
}
.bullets {
  display: inline-block;
  width: 80%;
  vertical-align: top;
    padding:10px;
}
.colorband1 {
  background-color: #f7f7f7;
  width: 100%;
}
.colorband2 {
  background-color: white;
  width: 100%;
}
.colorband3 {
    background-color: #f7f7f7;
  width: 100%;
}
#contact {
  font-family: 'NewsCycleRegular';
  color: #e5d8b5;
  font-size: 1.7em;
  padding: 3%;
  width: 65%;
  text-align: center;
  display: inline-block;
}
.container-fluid {
  padding: 0% 0% 0% 0%;
}
#footColor {
  background: #534f4e;
}
#grad {
  background: url('../img/elevateBack2.jpg') 100%;
  width: 100%;
}
.greenBox {
  display: inline;
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #d8c48f 0%, #e5d8b5 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #d8c48f 0%, #e5d8b5 100%);
  /* Opera */
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #d8c48f 0%, #e5d8b5 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #d8c48f), color-stop(1, #e5d8b5));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #d8c48f 0%, #e5d8b5 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(ellipse farthest-corner at center, #d8c48f 0%, #e5d8b5 100%);
  -moz-box-shadow: 0px 17px 35px #888;
  -webkit-box-shadow: 0px 17px 35px #888;
  box-shadow: 0px 17px 35px #888;
  margin-bottom: 3%;
  margin-top: 3%;
}
.greenBox button {
  color: #000;
  font-size: 1.7em;
  width: 86%;
  background: #74c2b0;
  margin-top: 6%;
  padding: 2%;
}
.greenBox form {
  margin: 4% 0% 4% 16%;
}
.greenBox h1 {
  text-align: center;
  margin-left: 17%;
  margin-bottom: 0%;
}
.greenBox input {
  margin-bottom: 4%;
}
.hero-unit h1 {
  font-family: 'NewsCycleRegular', Helvertica, Sans-SerifAri;
  font-size: 1.7em;
  font-weight: bold;
  display: inline-block;
  color: #3d2d29 100%;
  text-align: right;
}
.hero-unit h2 {
  position: relative;
  text-align: center;
  font-family: 'NewsCycleRegular', Helvertica, Sans-Serif;
  font-size: 2em;
  color: #e5d8b5;
  display: inline-block;
  width: 90%;
  padding: 2%;
  margin-left: 2.5%;
  background: rgba(18, 18, 18, 0.5);
}
.hero-unit h3 {
  font-family: 'NewsCycleRegular', Helvertica, Sans-Serif;
}
.hero-unit h6 {
  font-family: 'NewsCycleRegular', Helvertica, Sans-Serif;
  font-size: .9em;
  margin: 0% 0% 2% 17%;
}
.hero-unit-background {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.hero-unit-background img {
  width: 100%;
}
.hero-unit{
    height: 300px;
}
.newsletter-signup form {
  width: 350px;
  margin: 0 auto 20px;
}
.icon {
  padding-top: 2.5%;
}
.icon img {
  /*width: 100%;*/
    max-height: 50px;
    max-width: 50px;
  max-width: 206px;
}
.icon li {
  font-weight: bold;
  text-align: center;
  list-style: none;
}
.icon:nth-child(2) {
  margin-left: -2.57%;
}
.icon:nth-child(3) {
  margin-left: -2.57%;
}
li {
  font-family: 'NewsCycleRegular', Helvertica, Sans-Serif;
  font-size: 1.2em;
  margin-top: 3%;
}
li img {
  padding-bottom: 10%;

}
#logo img {
  width: 75%;
  margin-left: 7%;
  padding: 3%;
  padding-bottom: 1%;
}
.moreInfo {
  padding-bottom: 2%;
}
#tagline {
  margin-top: 8%;
}

p{
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Open Sans', sans-serif;; font-weight: 400;
}