      {% load feincms_tags feincms_page_tags compressed %}
        <footer>
          <div class="container">
            <div class="row">
              <div class="span3 muted">

                <h4>Site Map</h4>
                <ul>
                  {% feincms_navigation of feincms_page as toplevel level=1 %}
                  {% for p in toplevel %}
                  <li
                  {% if p|is_equal_or_parent_of:feincms_page %}class="active"{% endif %}
                  ><a href="{{ p.get_absolute_url }}"> {{ p.title|capfirst }} </a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="span3 muted">
                <h4>Support</h4>
                <ul>
                  <li><a class="btn btn-warning" href="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"><i class="icon-gift icon-medium"></i> Donate&raquo;</a></li>
                </ul>
              </div>
              <div class="span3 muted">
                <h4>Love Balm Project</h4>
                <p class="ys-statment"></p>
              </div>
              <div class="span3 muted">
                <h4>Follow Us</h4>
                <p class="text-right copyright">&copy; Love Balm Project 2013</p>
              </div>
            </div>
            </div>
        </footer>
