{% extends "site_base.html" %}
{% load applicationcontent_tags feincms_tags i18n feincms_page_tags compressed %}

{% block extra_css %}

{% feincms_frontend_editing feincms_page request %}

{% compressed_css 'home_page' %}
<!-- Le styles -->
<style type="text/css">
body {
 margin-top:50px;
}
</style>
{% endblock %}

{% block hero %}
<div class="hero-unit">
  {% feincms_render_region feincms_page "banner" request %}
</div><!-- /hero-unit -->
{% endblock %}


{% block main %}
<h1 class="text-center ribbon">Love Balm Project</h1>
{% feincms_render_region feincms_page "main" request %}
<hr class="subject-divide">
{% endblock %}

{% block sidebar %}
<p>{% feincms_render_region feincms_page "sidebar" request %}</p>
{{ block.super }}
{% endblock %}

{% block extra_js %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="{{ STATIC_URL }}js/showhide.js"></script>

{% endblock %}
