{% extends "site_base.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags compressed %}
{% load i18n blog_widgets %}


{% block extra_css %}
    {% compressed_css 'internal_page' %}
    <style>
        html,
        body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
        }

            /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by its height */
            margin: 0 auto -120px;
        }

            /* Set the fixed height of the footer here */
        #push,
        #footer {
            height: 120px;
        }
        #footer {
            background-color: #f5f5f5;
        }

            /* Lastly, apply responsive CSS fixes as necessary */
        @media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
            /* Custom page CSS
               -------------------------------------------------- */
            /* Not required for template or sticky footer method. */

        #wrap > .container {
            padding-top: 0px;
        }
        .container .credit {
            margin: 20px 0;
        }

        code {
            font-size: 80%;
        }

    </style>
{% endblock %}

{% block main %}
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Begin page content -->
       <div class="container">
            <div class="background-content">
                {% feincms_render_region feincms_page "main" request %}
            </div><!-- page header -->
            <img id="ys-sil"src="{{ STATIC_URL }}image/ys-sil.png">
        </div><!-- background-content -->
        <div id="push"></div>
    </div><!-- container -->
{% endblock %}