@font-face {
  font-family: 'PatuaOneRegular';
  src: url('../font/PatuaOne-Regular-webfont.eot');
  src: url('../font/PatuaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'), //url('../font/PatuaOne-Regular-webfont.woff') format('woff'), url('../font/PatuaOne-Regular-webfont.ttf') format('truetype'), url('../font/PatuaOne-Regular-webfont.svg#PatuaOneRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.border-content-style {
  background: rgba(249, 251, 253, 0.4);
  border-bottom: solid 1px #f3f3f4;
  border-left: solid 1px #dedcdc;
  border-right: solid 1px #dedcdc;
  padding: 2%;
}
.ribbon-back {
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Opera */
  background-image: -o-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, #859cb2), color-stop(1, #b5c3d0));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(ellipse farthest-corner at center top, #859cb2 0%, #b5c3d0 100%);
}
body {
  background: url("../image/redox_01.png");
}
footer {
  background: rgba(61, 111, 165, 0.6);
  border-top: #b0c07a solid 3px;
}
footer .copyright {
  color: #494849;
}
footer .muted .btn-warning {
  margin-bottom: 4px;
}
footer .row {
  margin-top: 15px;
}
footer h4 {
  color: #494849;
  font-size: 16px;
  font-weight: bold;
}
footer ul li a {
  color: #606060;
}
li {
  list-style: none;
}
.author {
  color: #c1cc8c;
  font-size: 15px;
  font-family: 'PatuaOneRegular', serif;
  margin-top: 0;
}
.author-color {
  color: #b8b4b4;
}
.background-content {
  background: rgba(249, 251, 253, 0.4);
  border-bottom: solid 1px #f3f3f4;
  border-left: solid 1px #dedcdc;
  border-right: solid 1px #dedcdc;
  padding: 2%;
}
.background-content h2 {
  font-family: 'PatuaOneRegular', serif;
  font-weight: bold;
  color: #000;
}
.blog-post {
  padding: 1%;
  margin-top: 2%;
}
.blog-post h2 {
  margin-bottom: 0;
  margin-top: 27px;
  font-size: 1.6em;
}
.blog-post hr {
  margin-top: 0;
}
.blog-post img {
  padding-top: 26px;
}
.blog-post p.pull-right {
  color: #b8b4b4;
}
.cap {
  font-weight: bold;
  color: #626262;
  font-size: 15px;
}
.carousel-control {
  font-size: 100px;
  padding-top: 124px;
}
.event-bar {
  margin-top: 0;
}
.hero-unit a {
  margin: 0;
}
.masthead .image img {
  margin-bottom: 1%;
}
.mission-img {
  margin-left: 21px;
  margin-bottom: 21px;
}
.recede {
  color: #b8b4b4;
}
.ribbon {
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Opera */
  background-image: -o-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, #859cb2), color-stop(1, #b5c3d0));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(ellipse farthest-corner at center top, #859cb2 0%, #b5c3d0 100%);
  border: solid 1px #cdd7e0;
  padding: 1%;
  font-family: 'PatuaOneRegular', serif;
  font-weight: bold;
  color: #fff;
  margin: 0 -35px 0 -35px;
}
.statement {
  font-size: 16px;
}
.subject-divide {
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Opera */
  background-image: -o-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 553, color-stop(0, #859cb2), color-stop(1, #b5c3d0));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #859cb2 0%, #b5c3d0 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(ellipse farthest-corner at center top, #859cb2 0%, #b5c3d0 100%);
  height: 4px;
  margin: 0;
}
.ys-statment {
  font-size: 14px;
  color: #606060;
}
.ys-statment a {
  color: #996633;
}
#acronym p {
  display: inline;
  background: #f0ad4e;
  text-align: center;
  color: #ebebeb;
  margin: 22px 0 0 88px;
}
#myCarousel img {
  max-height: 350px;
  margin: 0 auto;
}
